.main-container {
    height: 100vh;
    width: 100vh;
    display: flex;
    align-items: center;
}

.window {
    height: 100vh;
    width: 200vh;
    overflow: hidden;
    
}

.all-pages-container {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.arrow {
    cursor: pointer;
}